.enquadroConquista {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 3rem;
}

.enquadroConquista .enquadroCartaoJogo {
    width: 80vw;
    height: 45vh;
}

.enquadroConquista .cartaoJogoImagem {
    width: 350px;
    height: 400px;
}