@import url(../App.css);

.login-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-body {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    border-radius: 0.5rem;
    width: min(400px, 80vw);
    height: 650px;
    padding: 2rem;
    
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    width: 100%;
}

.login-form div {
    width: 100%;
}

.login-form button,
.login-form input {
    width: 100% !important;
    height: 3rem;
    
    border-radius: 0.5rem;
    text-align: center;
    border: none;

    background-color: var(--color-bg-body);
    color: var(--color-text-main);
}

.login-form input::placeholder {
    color: var(--color-text-disabled);
}

/* .login-form input[type='submit'] {
    color: var(--color-neutral-2);
    background-color: var(--color-main-normal);
    font-weight: bold;
} */

.login-logo {
    width: 100px;
    height: 85px;
  }

  .name-logo img {
    width: 100px;
  }
  
  .login-logo img {
    color: var(--color-main-lighter);
    filter: drop-shadow(0 0 2px, rgba(0, 0, 0, 0.125));
    width: 100%;
    aspect-ratio: 1;
  }

.login-link {
    font-size: small;
}