.home h1 {
    text-align: left;
    font-weight: 800;
}

/* .my-section {
    height: 100vh;
    padding: 0 clamp(0rem, 12vw, 20rem);
    display: grid;
    place-content: center;

    p {
        font-size: clamp(2rem, 5vw, 8rem);
    }
} */

.page-section:has(.destaques),
.page-section:has(.grupo) {
    display: flex;
    align-items: center;
    /* background: linear-gradient(135deg, var(--color-bg-main), var(--color-bg-body) 60%, var(--color-bg-main)); */
}

.page-section:has(.destaques) {
    min-height: calc(100vh - 74px);
}

.destaques {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100vw;
}

.home h1, hr {
    padding: 0;
    margin: 0;
}

.teste {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;
}

.testando-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5rem; */
}

.home hr {
    color: var(--color-text-alt);
}

.home-carousel {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap:2rem;
    width: 100%;
}

.home-carousel-container{
    position: relative;
    width: 70%;
    aspect-ratio: 1.7777778;
}

.home-carousel-container .home-carousel {
    position: absolute;
    inset: 0 0 0 0;
    padding: 0;
}

.home-content-container {
    width: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 0;
    flex-grow: 1;

    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    border-radius: 12px;
    padding: 0.5rem 1rem;
}

.content-card * {
    padding: 0;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-justify: distribute;
}


.page-section:has(.sobre) {
    padding: 6rem 4rem;
    height: 111vh !important;
    
    h5 {
        font-size: 1.60rem;
    }

    p {
        font-size: clamp(1.30rem, 1.30vw, 1.8rem);
    }
}



.grupo,
.sobre {
    width: 100%;
    /* height: 100%;  */
    padding: 14rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: var(--color-neutral-0);
}

.sobre-start {
    width: 100%;
    padding: 2rem;
}

/* .corujinha {
    transform: translateX(-700px);
    opacity: 0;
} */

.sobre-buble {
    width: min(100%, 60vw);
    padding: 4rem;  /*Aqui que da uma diminuida na largura*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grupo h1, hr
.sobre h1, hr {
    width: min(95%, 75vw);
}

.sobre-buble *:is(h1,h2,h3, h4,h5,h6) {
    font-weight: 800;
}

.sobre-buble p, 
.sobre-buble span {
    font-size: large;
    font-weight: 500;
    color: var(--color-neutral-2);
}

.grupo {
    color: var(--color-text-main);
}

.integrantes {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 1rem 2rem;
    
}

.integrante {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 250px;
    padding: 1rem;
}

.integrante p {
    width: 100%;
    text-align: center;
    text-wrap: pretty;
}

.integrante .fotoPerfil {
    width: 100% !important;
    height: unset !important;
    aspect-ratio: 1;

    box-shadow: 0 0px 12px -4px  rgba(0,0,0,0.125);
}

@media screen and (max-width: 768px) {
    .home-carousel {
        flex-direction: column;
        padding: 1rem;
    }

    .home-carousel-container {
        padding: 0;
        width: 100%;
    }

    .home-content-container {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .content-card {
        flex-basis: calc(50% - 1rem);
        height: unset;
        flex-grow: unset;
    }

    .content-card * {
        padding: 0;
        margin: 0;

        height: unset;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    .sobre {
        padding: 3rem 0.5rem !important;
        font-size: 0.9rem !important;
    }

    .sobre-buble {
        padding: 0;
    }

    .content-card {
        min-width: 280px;
        flex-grow: 1;
    }
}

@media screen and (max-width: 425px) {
    .destaques {
        padding: 1rem;
    }
    .home-carousel {
        padding: 0;
    }

    .content-card {
        min-width: 100%;
        flex-grow: 1;
    }

    .integrante {
        width: 150px;
        padding: 0.5rem;
    }

    .page-section:has(.sobre) {
        min-height: 100% !important;
    }
}

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
