/* TelaPerfil */
@import url('../App.css');

.enquadroPagina {
    padding: 3rem;
    width: 100vw;
    height: 100%;
}

.enquadroPerfil {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

.fotoPerfil {
    width: 200px !important;
    height: 200px !important;
}

.infoPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.infoUsername {
    font-weight: bold;
}

.infoProgresso {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    gap: 3rem;
}

@media screen and (max-width: 720px) {
    .enquadroPerfil {
        flex-direction: column;
        align-items: center;
    }

    .infoUsername {
        text-align: center;
    }
}

/* Card Jogo */

.gameList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    .gameList {
        gap: 0.5rem 2rem;
    }

    .gameList .enquadroCartaoJogo {
        width: 250px;
    }
}


/* Bootstrap Tabs */

.nav {
    border-bottom-color: var(--color-text-alt);
    gap: 0.5rem;
}

.nav .nav-link {
    border-radius: 0.5rem 0.5rem 0 0;
    color: var(--color-text-main);
    background-color: var(--color-text-disabled);
    opacity: 0.75;
}

.nav .nav-link.active {
    border-color: var(--color-text-alt);
    font-weight: bold;
    opacity: 1.0;
    background-color: var(--color-text-main);
    color: var(--color-bg-main);
}