.mobile-menu {
  display: none;
}

@media screen and (max-width: 1023px) {

  .nav-link {
    display: none;
  }
  
  .auth-buttons {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
