/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */


.navbar {
  height: 74px;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 16px;
  background: var(--gradient-header);
  /* background-image: linear-gradient(to right, #002199, #0027b2, #002ccb, #0032e5, #0037ff);  */
  /* background-image: linear-gradient(to right,
      var(--color-main-light) 0% ,
      var(--color-main-normal) 85%,
      var(--color-main-normal)); */
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
  gap: 8px;
  height: 40px !important;
  margin-left: 15px;
  margin-right: 20px;
}

.logo-image {
  height: 40px;
}

.logo-text {
  /* color: #ffffff; */
  color: var(--color-neutral-0);
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  font-size: 16px;
  /* color: #ffffff; */
  color: var(--color-neutral-0);
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  gap: 12px;
}

.nav-link {
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 18px;
}

.sign {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.sign-in-button {
  background-color: transparent;
  color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-0);
  border-radius: 8px;
  width: 86px;
  height: 39px;
  padding: 0 !important;
}

.sign-up-button {
  background-color: var(--color-neutral-0);
  color: var(--color-main-normal);
  border: none;
  border-radius: 8px;
  height: 39px;
  width: 119px;
  padding: 0 !important;
}


.menu-friendbuttons, .menu-authbuttons {
  display: flex;
  gap: 18px;
}



.profile-img {
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0 15px;
  }

  .logo {
    margin-left: 5px;
  }

  .mobile-menu {
    display: block;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }

  .logo {
    margin-left: 0;
  }

  .mobile-menu {
    margin-right: 15px;
  }
}