.page-section {
    position: relative;
    margin: 0;
}

.page-section::before {
    z-index: -9999;
    content: "";
    position: absolute;
    inset: 0 0 -1rem 0;

    mask-image: url(../assets/svgs/section-bg.svg);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
}

.page-section.fill-screen { min-height: 110vh; }
.page-section.hug-content { min-height: unset; }

.section-start::before { 
    mask-image: url(../assets/svgs/section-bg-begin.svg) !important; 
}

.section-end::before { 
    mask-image: url(../assets/svgs/section-bg-end.svg) !important; 
    inset: 0 0 0 0;
}

.page-section.primary::before { background-color: var(--color-bg-body); }
.page-section.secondary::before { background-color: var(--color-main-normal); }
.page-section.alternative::before { background-color: var(--color-main-dark); }