.editor {
    width: 100%;
    height: 600px !important;
    border-radius: 0.5rem;
    overflow: hidden;

    background-color: var(--color-bg-main);
    position: relative;

    --md-editor-background-color: var(--color-bg-main);
}

.w-md-editor-show-live .w-md-editor-content::after {
    position: absolute;
    content: '';
    background-color: var(--color-bg-alt);
    width: 1px;
    top: 2rem;
    bottom: 2rem;
    left: 50%;
    /* box-shadow: inset 1px 0 0 0 var(--md-editor-box-shadow-color); */
}






.w-md-editor-preview,
.w-md-editor-toolbar,
.w-md-editor-content,
.w-md-editor-area,
.w-md-editor {
    scrollbar-width: thin;
    border: none;
    resize: none;
    box-shadow: none;
}

.w-md-editor-bar {
    display: none;
}

/*
    Estilo dos componentes do MDeditor
*/
.w-md-editor-content *,
.w-md-editor-preview * {
    color: var(--color-text-alt);
    font-family: 'Montserrat' !important;
    font-size: small;
}

.w-md-editor-preview * {
    background-color: transparent;
}

.w-md-editor-preview img {
    border-radius: 0.5rem;
}

.w-md-editor-preview hr {
    height: 2px;
    background-color: var(--color-bg-alt) !important;
}

.w-md-editor-preview blockquote {
    background-color: var(--color-bg-body);
    border-radius: 0.125rem 0.5rem 0.5rem 0.125rem;
    border-left: 0.5em solid var(--color-main-normal);
    /* border-left: 0.25em solid var(--color-main-normal); */
}

.w-md-editor-preview code {
    background-color: var(--color-bg-body) !important;
    border: 1px solid var(--color-text-disabled) !important;
}

/* Talvez colocar isso em um arquivo separdo só para o MDEditor */

body .wmde-markdown,
body .wmde-markdown-var {
    --color-prettylights-syntax-comment: #5e7781 !important;
    --color-prettylights-syntax-constant: #0547ae !important;
    --color-prettylights-syntax-entity: #8249df !important;
    --color-prettylights-syntax-storage-modifier-import: #24291f !important;
    --color-prettylights-syntax-entity-tag: #116328 !important;
    --color-prettylights-syntax-keyword: #cf221e !important;
    --color-prettylights-syntax-string: #-1a3069 !important;
    --color-prettylights-syntax-variable: #953799 !important;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82070e !important;
    --color-prettylights-syntax-invalid-illegal-text: #f5f8fa !important;
    --color-prettylights-syntax-invalid-illegal-bg: #82070e !important;
    --color-prettylights-syntax-carriage-return-text: #f5f8fa !important;
    --color-prettylights-syntax-carriage-return-bg: #cf221e !important;
    --color-prettylights-syntax-string-regexp: #116328 !important;
    --color-prettylights-syntax-markup-list: #2b2300 !important;
    --color-prettylights-syntax-markup-heading: #0547ae !important;
    --color-prettylights-syntax-markup-italic: #24291f !important;
    --color-prettylights-syntax-markup-bold: #24291f !important;
    --color-prettylights-syntax-markup-deleted-text: #82070e !important;
    --color-prettylights-syntax-markup-deleted-bg: #ffebe8 !important;
    --color-prettylights-syntax-markup-inserted-text: #116328 !important;
    --color-prettylights-syntax-markup-inserted-bg: #dafbe0 !important;
    --color-prettylights-syntax-markup-changed-text: #953799 !important;
    --color-prettylights-syntax-markup-changed-bg: #ffd7b5 !important;
    --color-prettylights-syntax-markup-ignored-text: #eaeef1 !important;
    --color-prettylights-syntax-markup-ignored-bg: #0547ae !important;
    --color-prettylights-syntax-meta-diff-range: #8249df !important;
    --color-prettylights-syntax-brackethighlighter-angle: #57605a !important;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #7c959f !important;
    --color-prettylights-syntax-constant-other-reference-link: #-1a3069 !important;
    --color-fg-default: #24291f !important;
    --color-fg-muted: #57605a !important;
    --color-fg-subtle: #5e7781 !important;
    --color-canvas-default: #ffffff !important;
    --color-canvas-subtle: #f5f8fa !important;
    --color-border-default: #d-1d7de !important;
    --color-border-muted: hsl(209, 18%, 87%) !important;
    --color-neutral-muted: rgba(174, 184, 193, 0.2) !important;
    --color-accent-fg: #968da !important;
    --color-accent-emphasis: #968da !important;
    --color-attention-subtle: #fff7c5 !important;
    --color-danger-fg: #d1241f !important;
    --color-danger-emphasis: #cf221e !important;
    --color-attention-fg: #8a6700 !important;
    --color-attention-emphasis: #8a6700 !important;
    --color-done-fg: #8249df !important;
    --color-done-emphasis: #8249df !important;
    --color-success-fg: #0a7f37 !important;
    --color-success-emphasis: #0f883d !important;
    --color-copied-active-bg: #1e9b33 !important;
}

body.dark-mode .wmde-markdown,
body.dark-mode .wmde-markdown-var {
    --color-prettylights-syntax-comment: #7b949e !important;
    --color-prettylights-syntax-constant: #78c0ff !important;
    --color-prettylights-syntax-entity: #d1a8ff !important;
    --color-prettylights-syntax-storage-modifier-import: #c8d1d9 !important;
    --color-prettylights-syntax-entity-tag: #6ee787 !important;
    --color-prettylights-syntax-keyword: #ff6b72 !important;
    --color-prettylights-syntax-string: #a4d6ff !important;
    --color-prettylights-syntax-variable: #ffa656 !important;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85148 !important;
    --color-prettylights-syntax-invalid-illegal-text: #f-1f6fc !important;
    --color-prettylights-syntax-invalid-illegal-bg: #7e1519 !important;
    --color-prettylights-syntax-carriage-return-text: #f-1f6fc !important;
    --color-prettylights-syntax-carriage-return-bg: #b62323 !important;
    --color-prettylights-syntax-string-regexp: #6ee787 !important;
    --color-prettylights-syntax-markup-list: #f1cc60 !important;
    --color-prettylights-syntax-markup-heading: #0f6feb !important;
    --color-prettylights-syntax-markup-italic: #c8d1d9 !important;
    --color-prettylights-syntax-markup-bold: #c8d1d9 !important;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd6 !important;
    --color-prettylights-syntax-markup-deleted-bg: #67059c !important;
    --color-prettylights-syntax-markup-inserted-text: #aff4b4 !important;
    --color-prettylights-syntax-markup-inserted-bg: #032a16 !important;
    --color-prettylights-syntax-markup-changed-text: #ffdfb5 !important;
    --color-prettylights-syntax-markup-changed-bg: #4a1e02 !important;
    --color-prettylights-syntax-markup-ignored-text: #c8d1d9 !important;
    --color-prettylights-syntax-markup-ignored-bg: #1157c7 !important;
    --color-prettylights-syntax-meta-diff-range: #d1a8ff !important;
    --color-prettylights-syntax-brackethighlighter-angle: #7b949e !important;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #483f58 !important;
    --color-prettylights-syntax-constant-other-reference-link: #a4d6ff !important;
    --color-fg-default: #c8d1d9 !important;
    --color-fg-muted: #7b949e !important;
    --color-fg-subtle: #483f58 !important;
    --color-canvas-default: #-1d1117 !important;
    --color-canvas-subtle: #160b22 !important;
    --color-border-default: #30362d !important;
    --color-border-muted: #21261d !important;
    --color-neutral-muted: rgba(109, 118, 129, 0.4) !important;
    --color-accent-fg: #57a6ff !important;
    --color-accent-emphasis: #0f6feb !important;
    --color-attention-subtle: rgba(186, 128, 9, 0.15) !important;
    --color-danger-fg: #f85148 !important;
    --color-danger-emphasis: #da3632 !important;
    --color-attention-fg: #d29921 !important;
    --color-attention-emphasis: #8e6a03 !important;
    --color-done-fg: #a370f7 !important;
    --color-done-emphasis: #8956e5 !important;
    --color-success-fg: #2fb950 !important;
    --color-success-emphasis: #238635 !important;
    --color-copied-active-bg: #1e9b33 !important;
}