/* body {
    background-color: #E9ECEF!important;
} */



::-webkit-scrollbar {
    width: 7px;
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 8px;
}

::-webkit-scrollbar:horizontal {
    display: none;
}